@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

html {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #f0f9ff 0%,
    #e0f2fe 25%,
    #c7d2fe 50%,
    #a5b4fc 75%,
    #818cf8 100%
  );
}